main {
  text-align: center;
  vertical-align: center;
}

input {
	margin: 5px;
	padding: 5px;
	outline: none;
	border: 2px solid #00FFC9;
	border-radius: 12893890px;
	color: white;
	background-color: #434C5E;
	text-size: 32px;
}

body {
	background-color: #2E3440
}

p {
	color: white
}
button {
	
	margin: 5px;
	padding: 5px;
	outline: none;
	border: 2px solid #00FFC9;
	border-radius: 5px;
	color: white;
	background-color: #434C5E;
	text-size: 32px;
}